/* Importing Open Sans Condensed Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

body{
    background-color: rgb(22, 22, 22);
}

#digital-clock {
    color: white;
    width: 80%;
    margin-top: 15rem;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 180px;
    text-align: center;
}

#end-time {
    color: rgb(71, 71, 71);
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    text-align: center;
}

#time-left {
    color: orangered;
    margin-top: 18rem;
    width: 80%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 32px;
    text-align: center;
}